<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Online Pharmacy</title>
</head>

<body>
    <div class="container">
        <!-- HEADING SECTION -->
        <section id="heading-section" class="px-5 py-2">
            <div class="row">
                <div class="col-md-4">
                    <img src="./img/pharmacy.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-8">
                    <div class="input-group mt-4">
                        <input type="text" class="form-control" placeholder="Search for medicine" aria-describedby="basic-addon2">
                        <input type="button" value="SEARCH" class="btn btn-primary  mr-4">

                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                        <input type="text" class="form-control mr-4" placeholder="Cart">
                        <button type="submit" class="btn btn-secondary  ">LOGIN</button>
                    </div>
                </div>
            </div>
        </section>

        <!-- NAVIGATION SECTION -->
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded mb-3">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">HOME </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="madicines.html">MEDICINES</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="topmedicine.html">TOP MEDICINE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cart.html">CART</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">CONTACT</a>
                    </li>

                </ul>

            </div>
        </nav>
        <!-- CONTACT SECTION -->
        <section id="contact-section">
            <div class="card">
                <div class="card-block">
                    <h3 class="card-title">Live Support</h3>
                    <h6 class="card-subtitle mb-2 text-muted"> 24 hours | 7 days a week | 356 days a year &nbsp; &nbsp; &nbsp; Live Technical Support </h6>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium excepturi ducimus doloremque perspiciatis esse voluptates
                        voluptas quas laboriosam reiciendis, totam deleniti beatae a neque molestias quos, dolor deserunt
                        fugit voluptatum libero nobis! Consequatur error accusamus placeat nam, tenetur dolorum minus neque
                        eos, fugit, optio at. Quam, perferendis minima! Reprehenderit illum aliquam beatae nemo illo natus
                        ducimus ex aut aperiam numquam?
                    </p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-8">

                    <h4>Contact Us</h4>
                    <form >
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="name">Email</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="name">Message</label>
                            <textarea class="form-control" rows="5">write message ... </textarea>
                        </div>


                        <button class="btn btn-outline-primary btn-block mt-4" type="submit">Submit</button>
                    </form>

                </div>
                <div class="col-md-4 cinfo">
                    <h4>Company Information</h4>
                    500 Lorem ipsum dolor sit amet. <br>
                    22-56-2-9 Lorem, ipsum dolor. <br>
                    Bangladesh <br>
                    Moblie:(+880) 1675996843 <br>
                    Fax:(000) 111 222 333 <br>
                    Email: adnan@mail.com <br>
                    website: www.onlinePharmacy.com

                </div>
            </div>
        </section>
       <!-- FOOTER SECTION -->
       <footer id="main-footer" class="bg-inverse fixed-bottom">
            <div class="row">
                <div class="col text-center">
                    <div class="py-3">
                        <h1 class="h3">Online Pharmacy</h1>
                        <p>Copyright &copy; 2017</p>
                    </div>
                </div>
            </div>
    </footer>
</div>

        <script src="js/jquery.min.js"></script>
        <script src="js/tether.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
</body>

</html>
